doctype html
html
  head
    title MultiView : Flow Centric View
    style(type='text/css').
      body {
      color: #d3d3d3;
      font: 12pt arial;
      background-color: #222222;
      }
      #mynetwork {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid lightgray;
      #background: #222222;
      }
  body(onload='draw()')
    p Under Development
    p
    #mynetwork(align='center')
