<html>
  <head>
      <!--link&style-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" charset="utf-8"></script>
    <style>
			#allState {visibility: hidden;}
	</style>
  </head>
  <body>
      <!--Application-->
    <div>
    <select id="appList" name="appList"></select>
    <button id="delApp" name="delApp">delete App</button>
        <!--Application info-->
    <h3 id="appName">[appName]</h3>
    <h3 id="description">[description]</h3>
    <h3 id="author_name">[author.name]</h3>
    <h3 id="email">[author.email]</h3>
    <h3 id="parameters">[parameters]</h3>
    <h3 id="version">[version]</h3>
    <h3 id="type">[type]</h3>
    </div>
    <!--add file&app-->
    <form action="/admin/saveApp"  method="post" enctype="multipart/form-data" id="fileForm" accept-charset="utf-8">
        <input type='file' id='appFile' name='appFile' accept=".py">
        <br>    
    <input type='file' id='metaFile' name='appFile' accept=".json" accept-charset="utf-8">
    </form>
    
    <!--upload btn-->
    <br>
    <button id="uploadBtn">upload button</button>
    
    <!--application help-->
    <br>
    <h4>help</h4>
    <textarea id="metaText" rows="10" cols="50"></textarea>
    <!--confirm btn-->
    <br>
    <button id="confirmBtn">confirm</button>

    <!--state-->
    <p>
            <select class="stateList" id="allState" name="allState" size="2">
            </select>
            <select class="stateList" id="runState" name="runState" size="10">
            </select>
            <select class="stateList" id="doneState" name="doneState" size="10">
            </select>
        </p>
        <div class="appState">
            <h4 id="id">id : </h4>
            <h4 id="name">name : </h4>
            <h4 id="elapsedTime">elapsedTime : </h4>
            <h4 id="startedTime">startedTime : </h4>
            <h4 id="finishedTime">finishedTime : </h4>
            <h4 id="state">state : </h4>
        </div>
        <!--application script-->
    <script>
        $('.stateList').change(function() {
			var application_id = $(this).val()
			$.ajax({
				url: '/client/appState',
				dataType: 'json',
				type: 'GET',
				data: {"id":application_id},
				success:function(result) {
					var elapsedTime = result.result.elapsedTime;
					var sec_gap = elapsedTime /1000;
					var min_gap = Math.floor(elapsedTime /1000/60);
					var hour_gap = Math.floor(elapsedTime / 1000 / 60 /60);
					var name = result.result.name;			

					$('#id').html("id : "+result.result.id)
					$('#name').html("name : "+result.result.name)
					$('#elapsedTime').html("elapsedTime : "+  hour_gap + "시" + min_gap+ "분" +sec_gap + "초")
					$('#startedTime').html("startedTime : "+new Date(result.result.startedTime).toString())
					$('#finishedTime').html("finishedTime : "+ new Date(result.result.finishedTime).toString())
					$('#state').html("state : " + result.result.state)
				},
				error:function(error) {
					console.log("error : " + error)	
				}
			})
		})
		$(document).ready(function() {
			allRefreshState();
			setInterval( allRefreshState ,2000);
		});

var allStateLen = null
function allRefreshState() {	
	$.ajax({
				url: '/client/yarnAllState',
				dataType: 'json',
				type: 'GET',
				success:function(result) {
					var stateLen = result.result.length;
					$('#runState').empty()
					$('#doneState').empty()
					for(var i=0; i<stateLen; i++) {
						var id = result.result[i].id;
						var name = result.result[i].name;
						var state = result.result[i].state;
						if(state == "RUNNING") {
							$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:yellow">' + id + '</option>').appendTo('#runState');
						} else if(state=="FINISHED") {
							$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:gray">' + id + '</option>').appendTo('#doneState');
						}
					}

					$('#allState').attr("size", stateLen)
					if(allStateLen != stateLen) {
						$('#allState').empty();
						for(var i=0; i<stateLen; i++)
	  					{
							var id = result.result[i].id;
							var name = result.result[i].name;
							var state = result.result[i].state;
							var startedTime = new Date(result.result[i].startedTime).toString();
							if(result.result[i].state == "RUNNING")	{	
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:yellow">' + id + '</option>').appendTo('#allState');
							} else {		
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:gray">' + id +  '</option>').appendTo('#allState');
							}
						}
						allStateLen = stateLen;
					}
					else {
						for(var i=0; i<stateLen; i++) {
							var id = result.result[i].id;
							var name = result.result[i].name;
							var currentState = result.result[i].state;
							var beforeClass = $('#'+id).attr('class')
							var startedTime = new Date(result.result[i].startedTime).toString();
							
							if(beforeClass != currentState ) {
								$('#'+id).removeClass(beforeClass);
								$('#'+id).addClass(currentState);
								$('#'+id).html(id)
								var state = ""
								console.log(currentState)
								if(currentState == "ACCEPTED") {
									state = "ACCEPTED"
									$('#'+id).attr('style','background-color:blue');
								} else if(currentState == "RUNNING") {
									state = "RUNNING"
									$('#'+id).attr('style','background-color:yellow');
								} else if(currentState == "FINISHED") {
									state = "FINISHED"
									$('#'+id).attr('style','background-color:gray');
								}
								if($('#allState option:selected').attr('id') == id) {
									$('#state').html("state : "+state)
								}
							}
						}
					}	
				},
				error:function(error) {
					console.log("error : "+ error)
				}
			})
}
        var info ={
            "appName": "",
            "description": "",
            "author": {
                "name" : "",
                "email" : ""
            },
            "parameters": [],
            "version" :  "",
            "type" : ""
        }
        function appListRef() {
            $.ajax({
                url: '/admin/appList',
                method: "GET",
                    success: function(result) {
                    $('#appList').empty();
                    var list = result.result.split("\n");
                    $('#appList').attr("size", list.length-1)
                    //console.log(list)
                    for (var i=0; i<list.length-1; i++){
                        $('#appList').append('<option id='+list[i]+ 'value='+list[i]+'>'+list[i]+'</option>');
                    }
                },
                error : function(error) {
                    console.log(error)
                }
            })
        }
        $('#appList').change(function(){
            var selectedId = $(this).val();
            $.ajax({
                url: "/admin/appData",
                method: "GET",
                data : {"id": selectedId},
                dataType: 'json',
                success: function(result) {
                    var data = result.result;
                    var parameters = ""
                    
                    $('#appName').html("[appName]<br>"+data.appName)
                    $('#description').html("[description]<br>" +data.description)
                    $('#author_name').html("[author.name]<br>"+ data.author.name)
                    $('#email').html("[author.email]<br>"+ data.author.email)
                    $('#version').html("[version]<br>"+data.version)
                    $('#type').html("[type]<br>"+data.type)
                    if (data.parameters.length > 0) {
                        for (let parameter of data.parameters) {
                            console.log()
                            parameters += JSON.stringify(parameter) + "<br>"
                        }
                    }
                    $('#parameters').html("parameters<br>"+ parameters)

                    
                },
                error : function(error) {
                    console.log(error)
                } 
            })
            
        })
        $('#delApp').click(function(){
            var check = confirm("really?")
            if(check) {
                var clickedId = $('#appList').val()
                $.ajax({
                    url: "/admin/delApp",
                    dataType: "json",
                    method: "GET",
                    data : {"id" : clickedId},
                    success: function(result) {
                        if(!result.result) {
                            alert("failed metadata delete ")
                        } else {
                            appListRef()
                        }
                    }, 
                    error : function(error) {
                        console.log(error)
                    }
                })
            }
        })
        $('#appFile').change(function(){
            if(fname == null || fname ==undefined){}
            else {
                var fname = $(this).val().split('.')[1].toLowerCase()
                if(fname != "py"){
                    alert("!!!!!!!")
                    $(this).val(null)
                }
            }
        })
        $('#metaFile').change(function(){
            if(fname ==null || fname == undefined){}
                else {
                var fname = $(this).val().split('.')[1].toLowerCase()
                if(fname != "json"){
                    alert("!!!!!!!")
                    $(this).val(null)
                }
            }
        })
        $(document).ready(function() {
            appListRef();
        })
        $('#uploadBtn').click(function() {
            $('#metaFile').trigger('change')
        })
        function readTextFile(file, callback) {
            var rawFile = new XMLHttpRequest();
                    rawFile.overrideMimeType("application/json;charset=euc-kr");
                    rawFile.open("GET", file, true);
                    rawFile.onreadystatechange = function() {
                    if (rawFile.readyState === 4 && rawFile.status == "200") {
                        callback(rawFile.responseText);
                }
            }
            rawFile.send(null);
        }                   
        $('#metaFile').change(function(e) {
            const files = e.target.files;
            if(files && files.length > 0) {
                const targetFile = files[0]
                try {
                    const path = window.URL.createObjectURL(targetFile)
                    readTextFile(path, function(text){
                        $('#metaText').html(text)
                    });                    
                    $.getJSON(path, function(data) {
                        info.appName = data.appName
                        info.description = data.description
                        info.author.name = data.author.name
                        info.author.email = data.author.email
                        info.version = data.version
                        info.type = data.type
                        
                        var inputParameters = []

                        try {
                        if (data.parameters.length > 0) {
                            for (var i in data.parameters) {
                                inputParameters.push(data.parameters[i])
                            }
                        }
                    } catch (e) {
                        console.log(e)
                        }
                        info.parameters = inputParameters
                    })
                }
                catch(ex) {
                    console.log(ex)
                    try {
                        const fileReader = new FileReader();
                        fileReader.onload = (event) =>  {
                            console.log("fileReader " + event.target.result)
                        }
                        fileReader.readAsDataURL(targetFile)
                    }
                    catch (e) {
                        console.log("file upload not supported : ")
                    }
                }
            }
        })
        
        $('#uploadBtn').click(function() {
            $.getJSON()
            var data = "";
            $('#metaText').html(data)
        })

        $('#confirmBtn').click(function() {

            info = JSON.parse($('#metaText').html())
            //console.log(info)
            
            var appValue = $('#appFile').val().split("\\");
            info.appName = appValue[appValue.length-1];
            var jsonValue = $('#metaFile').val().split("\\")
            if (appValue[appValue.length-1].split(".")[0] == jsonValue[jsonValue.length-1].split(".")[0]) {
               
                //app data
                var form = $('#fileForm')[0];
                var formData = new FormData(form);
                
                formData.append("metaFile",$('#metaFile'))
                //console.log(formData)
                //save : app(.py..) + parameterFile(.json..) in mongodb 
                $.ajax({
                    url: '/admin/saveApp',
                    data: formData,
                    method: 'POST',
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        //console.log(result);
                        if(result.status) {
                            alert("App 업로드에 성공하였습니다.")
                        } else {
                            alert(result.result)
                        }
                        appListRef()
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });       
            } else {
                alert("please same file name")
            }
            
    })
    </script>
  </body>
</html>