<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NILAB - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- main color: #343a40(B), #dee2e6 -->
    
  <style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>

  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="client_main">NILAB</a>
      
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-10 my-5 my-md-0">
        <div class="input-group">
          <% if (user.role == 1) { %>
            <h4 class="text-primary"> <span class="badge badge-pill badge-primary">User Mode</span></h4>
            <% } else if (user.role == 2) { %>
              <h4 class="text-success"> <span class="badge badge-pill badge-success">Developer Mode</span></h4>
              <% } else { %>
                <h4 class="text-danger"> <span class="badge badge-pill badge-danger">Manager Mode</span></h4>
                <% } %>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

      

    </nav>

    <div id="wrapper">


      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="client_main">
            <i class="fas fa-fw fa-table"></i>
            <span>Main</span>
          </a>
        </li>
        <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Apps</span>
            </a>
            <div class="dropdown-menu show" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
              <!-- <h6 class="dropdown-header">App</h6> -->
              <a class="dropdown-item" href="client_main">List</a>
              <a class="dropdown-item" href="app_Status">Status</a>
              <a class="dropdown-item active" href="history">History</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Data</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
            <!-- <h6 class="dropdown-header">Developer Page</h6> -->
            <a class="dropdown-item" href="developer_main">List</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Spark</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
            <h6 class="dropdown-header">Status</h6>
            <a class="dropdown-item" href="Cluster">Cluster</a>
            <a class="dropdown-item" href="Hdfs">Hdfs</a>
            <a class="dropdown-item" href="Yarn">Yarn</a>
            <a class="dropdown-item" href="zoo">Zookeeper</a> 
          </div>
        </li>
      </ul>
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Apps</a>
            </li>
            <li class="breadcrumb-item active">History</li>
          </ol>
          <!-- Icon Cards-->
          <div class="card mb-3">
            <!-- <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table Example</div> -->
            <div class="card-body">
              <!--table tool-->
              <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12"><div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12"><div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12"><div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12"><div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length">
                  <!-- <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option>
                  <option value="100">100</option></select> entries</label> -->
                
                </div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter">
                  <!-- <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label> -->
                </div></div></div><div class="row"><div class="col-sm-12">
                      
                      <!-- finished yarn status -->
                      <h3>Finished APP</h3>
                      <br/>
                      <table id="dtVerticalScrollExample1" class="table  table-striped table-bordered table-sm" cellspacing="0" width="100%">
                          <thead >
                            <tr>
                              <th class="th-sm">id
                                <i class="fa fa-sort float-right" aria-hidden="true"></i>
                              </th>
                              <th class="th-sm">name
                                <i class="fa fa-sort float-right" aria-hidden="true"></i>
                              </th>
                              <th class="th-sm">state
                                <i class="fa fa-sort float-right" aria-hidden="true"></i>
                              </th>
                              <th class="th-sm">elapsedTime
                                <i class="fa fa-sort float-right" aria-hidden="true"></i>
                              </th>
                              <th class="th-sm">startedTime
                                <i class="fa fa-sort float-right" aria-hidden="true"></i>
                              </th>
                              <th class="th-sm">finishedTime
                                <i class="fa fa-sort float-right" aria-hidden="true"></i>
                              </th>
                            </tr>
                          </thead>
                          <tbody id="doneState1">
                  
                          </tbody>
                        </table>
  
                
              <!-- </div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div> -->
              </div>
            </div>
            <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
          </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" id="logoutBtn">Logout</a>
          </div>
        </div>
      </div>
    </div>

   

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <!-- <script src="js/demo/chart-area-demo.js"></script> -->
    <script>
      $('#logoutBtn').click(function(){
        $.ajax({
				url: '/logout',
				type: 'GET',
				success:function(result) {
          alert("success")
          location.href = "/login"
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
			})
      })

      $(document).ready(function() {
          var table2 = $('#dtVerticalScrollExample1').DataTable({
          "scrollY": "200px",
          "scrollCollapse": true,
          "order" : [[1, "desc"]]
      });
        allRefreshState();
        setInterval( allRefreshState ,2000);
        })
      
        $('.stateList').change(function() {
			var application_id = $(this).val()
			$.ajax({
				url: '/client/appState',
				dataType: 'json',
				type: 'GET',
				data: {"id":application_id},
				success:function(result) {
					var elapsedTime = result.result.elapsedTime;
					var sec_gap = elapsedTime /1000;
					var min_gap = Math.floor(elapsedTime /1000/60);
					var hour_gap = Math.floor(elapsedTime / 1000 / 60 /60);
					var name = result.result.name;			

					$('#id').html("id : "+result.result.id)
					$('#name').html("name : "+result.result.name)
					$('#elapsedTime').html("elapsedTime : "+  hour_gap + "시" + min_gap+ "분" +sec_gap + "초")
					$('#startedTime').html("startedTime : "+new Date(result.result.startedTime).toString())
					$('#finishedTime').html("finishedTime : "+ new Date(result.result.finishedTime).toString())
					$('#state').html("state : " + result.result.state)
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
			})
		})
  let beforeRunningLen = null
  let beforeFinishedLen = null
  function allRefreshState() {
      $.ajax({
          url:'/client/clientYarnAll',
          method:'get',
          success: function(result){
              var stateLen = result.result.length;
              let runningData =[]
              let finishedData = []
              let RunningLen = 0
              let FinishedLen = 0
              for(var i=0; i<stateLen; i++) {
                var id = result.result[i].id;
                var name = result.result[i].name;
                var state = result.result[i].state;
                var elapsedTime = result.result[i].elapsedTime;
                var sec_gap = elapsedTime /1000;
                var min_gap = Math.floor(elapsedTime /1000/60);
                var hour_gap = Math.floor(elapsedTime / 1000 / 60 /60);
                var startedTime = new Date(result.result[i].startedTime).toString()
                var finishedTime = new Date(result.result[i].finishedTime).toString()
                
                if (state =="RUNNING"){
                  runningData.push({
                    id : id,
                    name : name,
                    state : state,
                    elapsedTime :hour_gap + "시" + min_gap+ "분" +sec_gap + "초",
                    startedTime :startedTime,
                    finishedTime : finishedTime
                  })
                  RunningLen++
                } else if (state =="FINISHED"){
                  FinishedLen++
                  finishedData.push({
                    id : id,
                    name : name,
                    state : state,
                    elapsedTime :hour_gap + "시" + min_gap+ "분" +sec_gap + "초",
                    startedTime :startedTime,
                    finishedTime : finishedTime
                  })
                }
              }
              if (RunningLen != beforeRunningLen) {
                $('#runState1').empty()
                for (var i=0; i<runningData.length; i++) {
                  let id = runningData[i].id
                  let name = runningData[i].name
                  let state = runningData[i].state
                  let elapsedTime = runningData[i].elapsedTime
                  let startedTime = runningData[i].startedTime
                  let finishedTime = runningData[i].finishedTime
                }
                beforeRunningLen = RunningLen
                RunningLen = 0
              } 
              if (FinishedLen != beforeFinishedLen) {
                $('#doneState1').empty()
                $('#dtVerticalScrollExample1').DataTable().clear()
                $('#dtVerticalScrollExample1').DataTable().destroy()
                for (var i =0; i <finishedData.length; i++) {
                  let id = finishedData[i].id
                  let name = finishedData[i].name
                  let state = finishedData[i].state
                  let elapsedTime = finishedData[i].elapsedTime
                  let startedTime = finishedData[i].startedTime
                  let finishedTime = finishedData[i].finishedTime
                  $('#dtVerticalScrollExample1').find('tbody').append('<tr> <td>'+id.split("application")[1]+'</td>'+'<td>'+name+'</td>'+'<td>'+state+'</td>'+'<td>'+elapsedTime+'</td>'+'<td>'+startedTime+'</td>'+'<td>'+finishedTime+'</td> </tr>')
                }
                $('#dtVerticalScrollExample1').DataTable({
                  "scrollY": "200px",
                  "scrollCollapse": true,
                  "order" : [[1, "desc"]]
                }).draw()  
                beforeFinishedLen = FinishedLen
                FinishedLen =0
              }
              
            },
              error : function(error) {
                console.log(error)
                }
            })
        }

    </script>
</body>
</html>
