<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
        <h1>index page</h1>
        <br>
        <h1>Login form</h1>
            email <input type="text" id="l_email" name="l_email" ><br />
            password <input type="password" id="l_password" name="l_password" ><br />
            <button id="loginBtn">login</button>
            <br />
        <h1>register form</h1>
            email <input type="text" id="r_email" name="r_email" ><br />
            password <input type="password" id="r_password" name="r_password" ><br />
            confirmPassword <input type="password" id="r_confirmPassword" name="r_confirmPassword" ><br />
            firstName <input type="text" id="r_firstName" name="r_firstName"><br />
            lastName <input type="text" id="r_lastName" name="r_lastName"><br />
            <button id="registerBtn">register</button> 

            <br />
            <br />
            <input type="text" id="slackId"/>
            <button id="slackBtn">slack</button>
    <script>

        $('#loginBtn').click(function(){
            inputUser = {
                email : $('#l_email').val(),
                password : $('#l_password').val()
            }
            $.ajax({
            url:'/login',
            method: 'post',
            dataType: 'json',
            data : inputUser,
            success : function (result) {
                location.href = '/profile'
                },
            error : function (error) {
                alert("not exists")
                location.reload()
            }})
        })
        
        $('#registerBtn').click(function(){
            inputUser = {
                email : $('#r_email').val(),
                password : $('#r_password').val(),
                firstName : $('#r_firstName').val(),
                lastName : $('#r_lastName').val()
            }
            
            $.ajax({
                url:'/register',
                method :'post',
                dataType:'json',
                data: inputUser,
                success: function(result) {
                    location.reload()
                },
                error : function(error) {
                    alert("failed regist")
                    location.reload()
                }
            })
        })
        $('#slackBtn').click(function(){
            
            $.ajax({
                url:'/slackTest',
                method: 'post',
                dataType:'json',
                data: {
                    id : $('#slackId').val(),
                    target : "slack",
                    stdout : "test"
                },
                success: function(result) {
                    console.log(result)
                },
                error : function(error) {
                    console.log(error)
                }

            })
        })
        
	</script>
  </body>
</html>