
<!-- Sidebar -->
<script type="text/javascript" src="js/sidebar.js" defer></script>
<ul class="sidebar navbar-nav">
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="controller?name=Client_main" id="pagesDropdown" role="button" aria-haspopup="true" aria-expanded="true">
        <i class="fas fa-fw"><ion-icon name="list-box"></ion-icon></i>
        <span><b>Apps</b></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
        <a class="dropdown-item" id="Client_main" href="controller?name=Client_main"><ion-icon name="arrow-dropright"></ion-icon> List</a>
        <a class="dropdown-item" id="App_status" href="controller?name=App_status"><ion-icon name="arrow-dropright"></ion-icon> Status</a>
        <a class="dropdown-item" id="History" href="controller?name=History"><ion-icon name="arrow-dropright"></ion-icon> History</a>
      </div>
    </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="controller?name=Developer_main" id="pagesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw"><ion-icon name="document"></ion-icon></i>
      <span><b>Data</b></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
      <a class="dropdown-item" id="Developer_main" href="controller?name=Developer_main"><ion-icon name="arrow-dropright"></ion-icon> List</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="controller?name=Cluster" id="pagesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw"><ion-icon name="save"></ion-icon></i>
      <span><b>Spark</b></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
      <a class="dropdown-item" id="Cluster" href="controller?name=Cluster"><ion-icon name="arrow-dropright"></ion-icon> Cluster</a>
      <a class="dropdown-item" id="Hdfs" href="controller?name=Hdfs"><ion-icon name="arrow-dropright"></ion-icon> Hdfs</a>
      <a class="dropdown-item" id="Yarn" href="controller?name=Yarn"><ion-icon name="arrow-dropright"></ion-icon> Yarn</a>
      <a class="dropdown-item" id="Zoo" href="controller?name=Zoo"><ion-icon name="arrow-dropright"></ion-icon> Zookeeper</a> 
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="controller?name=About" id="pagesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw"><ion-icon name="save"></ion-icon></i>
      <span><b>About</b></span>
    </a>
  </li>
</ul>