<html lang="en">
    <% include ../partial/head %>
    <style>
      a {
  color:inherit;
  text-decoration: none;
 }
    </style>
  <body id="page-top">
      <% include ../partial/toolbar %>
    <div id="wrapper">
      <% include ../partial/sidebar %>
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Apps</a>
            </li>
            <li class="breadcrumb-item active">List</li>
          </ol>
          <!-- Icon Cards-->

          <div class="card mb-3">
            <div class="card-body">
                  <h2><ion-icon name="list-box"></ion-icon> App List</h2>
                  <!-- icon link: https://ionicons.com/ -->
                  <p class="lead" disabled>Select an App and run it by clicking <kbd>READY TO RUN</kbd> button.</p>

                  <table class="table table-hover"> <!-- .table thead th -->
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Version</th>
                        <th scope="col">Description</th>
                        <th scope="col">Author</th>
                        <th scope="col">Email</th>
                        <th scope="col">Stub</th>
                      </tr>
                    </thead>
                    <tbody id='select_APP'>
                    </tbody>
                  </table>
                  <% if (user.role == 1) { %> <!-- user mode -->
                    <button type="button" class="btn btn-success" id='ready_button' onclick='readyToRun();' disabled><b>READY TO RUN</b></button>
                    <% } else if (user.role == 2) {%> <!-- developer mode -->
                      <button type="button" class="btn btn-info" id='ready_button' onclick='readyToRun();' disabled><b>READY TO RUN</b></button>
                    <% } else {%> <!-- manager mode -->
                      <button type="button" class="btn btn-danger" id='ready_button' onclick='readyToRun();' disabled><b>READY TO RUN</b></button>
                    <% } %>

                  <% if (user.role == 2)  { %>
                    <button type="button" class="btn btn-info" id="addApp" data-toggle="modal" data-target="#addModel">Add</button>
                    <button type="button" class="btn btn-info"  id='delApp' disabled >Delete</button>
                  <% } %>
                  <div id='readyToSpark' style="display: none">
                    <hr class="my-4">

                    <h2><ion-icon name="document"></ion-icon> Data List</h2>
                    <p class="lead">Select a data file and get results by <ion-icon name="mail"></ion-icon><b>E-mail</b> or <ion-icon name="logo-slack"></ion-icon><b>Slack</b>.</p>
                    <table class="table table-hover"> <!-- .table thead th -->
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Data name</th>
                          <th scope="col">File Size</th>
                          <th scope="col">Description</th>
                          <th scope="col">Uploader</th>
                        </tr>
                      </thead>
                      <tbody id='select_data'>
                      </tbody>
                    </table>

                    <div class="alert alert-secondary" role="alert">
                        <h5><ion-icon name="add-circle"></ion-icon> App Parameters</h5>
                      <hr class="my-2">
                      <form id='parameter_blank'></form>
                    </div>

                    <div class="btn-group btn_mine" id="selector" role="group" aria-label="Basic example">
                      <button type="button" value="email" id="emailBtn" class="btn btn-secondary active" checked="checked"><ion-icon name="mail"></ion-icon> E-mail</button>
                      <button type="button" value="slack" id="slackBtn" class="btn btn-secondary"><ion-icon name="logo-slack"></ion-icon> Slack</button>
                      <input type="text" name="sendName" class="form-control-smail" id="user" aria-describedby="emailHelp" placeholder="Input your Email">
                    </div>
                    <% if (user.role == 1) { %> <!-- user mode -->
                      <button type="button" class="sparkRun btn btn-success"><ion-icon name="play"></ion-icon><b>SPARK RUN</b></button>
                      <% } else if (user.role == 2) {%> <!-- developer mode -->
                      <button type="button" class="sparkRun btn btn-info"><ion-icon name="play"></ion-icon><b>SPARK RUN</b></button>
                      <% } else {%> <!-- manager mode -->
                        <button type="button" class="sparkRun btn btn-danger"><ion-icon name="play"></ion-icon><b>SPARK RUN</b></button>
                      <% } %>

                      <% if (user.role == 1) { %> <!-- user mode -->
                        <button type="button" class="API_description btn btn-success"><ion-icon name="document"></ion-icon><b>API DESCRIPTION</b></button>
                        <% } else if (user.role == 2) {%> <!-- developer mode -->
                        <button type="button" class="API_description btn btn-info"><ion-icon name="document"></ion-icon><b>API DESCRIPTION</b></button>
                        <% } else {%> <!-- manager mode -->
                          <button type="button" class="API_description btn btn-danger"><ion-icon name="document"></ion-icon><b>API DESCRIPTION</b></button>
                        <% } %>

                      <div class="collapse" id="api_collapse">
                          <div class="card card-body apiDoc">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div id="addModel" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title text-center"><ion-icon name="add-circle"></ion-icon> Application Add</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <!--add file&app-->
                      <p class="lead" disabled>please choose <kbd>Application</kbd> and <kbd>Mata data</kbd></p>
                      <form action="/admin/saveApp"  method="post" enctype="multipart/form-data" id="fileForm" accept-charset="utf-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">App</span>
                            </div>
                            <div class="custom-file"> <!-- .custom-file-label::after -->
                              <input type="file" class="custom-file-input" id="appFile" name="appFile" accept=".py">
                              <label class="custom-file-label" id="appFileName" for="appFile">Choose a file</label>
                            </div>
                          </div>
                        <!-- <input type='file' id='appFile' name='appFile' accept=".py"><br> -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Meta</span>
                            </div>
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="metaFile" name="appFile" accept=".json">
                              <label class="custom-file-label" id="metaFileName" for="metaFile">Choose a file</label>
                            </div>
                          </div>
                      </form>
                      <!-- meta JSON text -->
                      <div class="alert alert-secondary" role="alert">
                        <hr class="my-2">
                        <div class="form-group">
                          <textarea class="form-control" id="metaText" rows="3" readonly></textarea>
                        </div>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-Dark" id="addAppBtn"><ion-icon name="add-circle"></ion-icon> Add app</button>
                      <button type="button" class="btn btn-Dark" data-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <% include ../partial/body %>
    <script>
      //ready to run button event
      function readyToRun(){
        $.ajax({
				url: '/apiDoc',
        type: 'GET',
        data: {"appName": $('input:checkbox[id=APP_check]:checked').val()},
				success:function(result) {
          $('.apiDoc').empty()
          if(result.status){
            $('.apiDoc').append(result.result)
            $('.apiDoc').children('pre').remove() //example code remove
            $('.apiDoc').children('h3').remove() // h3 tag remove
            $('.apiDoc').children('ul').remove() //ul tag remove
            $('.apiDoc').children('p').not($('.apiDoc').children('p').first()).remove()
            $('.apiDoc').children('blockquote').remove()
            $('.apiDoc').children('h1').remove()  //all h1 tag remove
            $('.apiDoc').children('table').children('tbody').children('tr').children('td').children('a').contents().unwrap()
            $('.apiDoc').children('table').addClass('table')
            $('.apiDoc').children('h2').html("Base Parameters")
            $('.apiDoc > p').css('font-weight','bold') //p tag style change
            $('.apiDoc').children('table').eq(1).children('thead').children('tr').children('th').eq(0).html("Top element")
            let appTitle = $("<h2>App's Parameters</h2>") // app's parameter title
            $('.apiDoc').append(appTitle)
            let appTable = $("<table class='table'>") // create app's parameters table
            appTable.append("<thead><tr><th>Name</th><th>Type</th><th>Description</th><th>Notes</th></tr></thead><tbody></tbody>")
            $('.apiDoc').append(appTable)
            while($('.apiDoc').children('table').eq(2).children('tbody').children('tr').length > 5 ){
              let appParam = $('.apiDoc').children('table').eq(2).children('tbody').children('tr').last().html()
              $('.apiDoc').children('table').eq(2).children('tbody').children('tr').last().remove()
              $('.apiDoc').children('table').last().children('tbody').append("<tr>"+appParam+"</tr>")
            }
          }
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
        })
        
        if ($('input:checkbox[id=APP_check]').is(':checked') == false){
          alert('please select Application')
        } else if($('input:checkbox[id=APP_check]:checked').length > 1){
          alert('please check only one Application')
        } else{//show
          document.all.readyToSpark.style.display=""
          makeParaBlank()
        }
      }    
      $('#logoutBtn').click(function(){
        $.ajax({
				url: '/logout',
				type: 'GET',
				success:function(result) {
          alert("success")
          location.href = "/"
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
			  })
      })
      $('.API_description').click(function(){
        if($('.collapse').hasClass('show')){
          $('.collapse').removeClass('show')
        }else{
          $('.collapse').addClass('show')
        }
      })
      function makeParaBlank(){
        $.ajax({
          url: '/client/makeParameterBlank',
          method: 'post',
          data: {
            'appname' : $('input:checkbox[id=APP_check]:checked').val()
	        },
          dataType: 'json',
          success: function(result) {
            if(result){
        	    //파라미터 입력 공간 초기화
	            $('#parameter_blank').empty();
	            parameterKey = []

	            //모든 파라미터 체크
	            for(var i=0 ; i<result.nameList.length ; i++){

	              //파라미터 키 리스트 작성
	              parameterKey[i] = result.nameList[i]

	              //파라미터 입력 타입 체크
	              if(result.typeList[i] == 'text'){
		            //text 방식 입력 공간 생성
  		            $('#parameter_blank').append(
		              result.nameList[i]+' '+'<input id='+result.nameList[i]+' type="text" placeholder=" ex) '+result.metadata.parameters[0].default+'" maxlength="'+result.typeMaxList[i]+'"> ['+result.descriptionList[i]+']'+'<br>'
		              )
	              }else if(result.typeList[i] == 'radio' || result.typeList[i] == 'checkbox'){		//make radio or checkbox blank
  		            $('#parameter_blank').append(result.nameList[i]+' ['+result.descriptionList[i]+']'+'<br>')
		              for(var j = 0 ; j < result.typeDataList[i].length ; j++){
  		              $('#parameter_blank').append(
		                '<input id='+result.nameList[i]+' type="'+result.typeList[i]+'" value='+result.typeDataList[i][j]+' name='+result.nameList[i]+'/>'+result.typeDataList[i][j]+'<br>'
		                )
		              }
	              }
    	        }
            }
          }
        })
      }

      function listRef() {
        $.ajax({
          url: '/client/makeList',
          method: 'post',
          success: function(result) {
            if(result){
              $('#select_APP').empty();
              $('#select_data').empty();

	            for(var i=0 ; i<result.applist.length ; i++){
                $('#select_APP').append(
                '<tr id="'+result.applist[i].appName+'"><th scope="row"><div class="checkbox"><label style="font-size: 1em"><input type="checkbox" name="APP_check" id="APP_check" value="'+result.applist[i].appName+'"><span class="cr"><i class="cr-icon fa fa-check"></i></span></label></div></th><td>'+result.applist[i].appName+'</td><td>'+result.applist[i].version+'</td><td>'+result.applist[i].description+'</td><td>'+result.applist[i].author.name+'</td><td>'+result.applist[i].author.email+'</td><td><button type="button" class="btn btn-dark"><a href="download/'+result.applist[i].appName.split('.')[0]+".zip"+'">download</a></button></td></tr><tr>'
                );
              }
              
	            for(var i=0 ; i<result.datalist.length ; i++){
                $('#select_data').append(
                '<tr id="'+result.datalist[i].dataName+'"><th scope="row"><div class="checkbox"><label style="font-size: 1em"><input type="checkbox" value="'+result.datalist[i].dataName+'" id="data_check"><span class="cr"><i class="cr-icon fa fa-check"></i></span></label></div></th><td>'+result.datalist[i].dataName+'</td><td>'+result.datalist[i].size+'</td><td>'+result.datalist[i].description+'</td><td>'+result.datalist[i].Uploader+'</td></tr></tr>'
                );
              }
	          }
	        }
        })
      }
      function buttonDisable(){
        if($('input:checkbox[id=APP_check]:checked').length == 1){
          document.getElementById('ready_button').disabled = false
          if ('<%=user.role%>' == 2)  {
            document.getElementById('delApp').disabled = false
            document.getElementById('addApp').disabled = true
          }
        } else if ($('input:checkbox[id=APP_check]:checked').length |= 1){
          document.getElementById('ready_button').disabled = true
          document.all.readyToSpark.style.display="none"
          if ('<%=user.role%>' == 2)  {
            document.getElementById('addApp').disabled = true
          }
        }
        
        if ($('input:checkbox[id=APP_check]:checked').length == 0){
          if ('<%=user.role%>' == 2)  {
            document.getElementById('addApp').disabled = false
            document.getElementById('delApp').disabled = true
          }
        }
        
      }

      var parameterKey = new Array()
      $('#selector button').click(function() {
        $(this).addClass('active').siblings().removeClass('active');

        let emailBtnClass = document.getElementById("emailBtn").classList
        let slackBtnClass = document.getElementById("slackBtn").classList

        if(emailBtnClass[emailBtnClass.length-1] == 'active'){
          $('#user').attr('placeholder', 'Input your Email')
        } else if(slackBtnClass[slackBtnClass.length-1] == 'active'){
          $('#user').attr('placeholder', 'Input your Slack channel')
        }

      });
      $('.sparkRun').click( function() {

	      //파라미터값 초기화
      	var parameterValue = ''

	      for(var i=0 ; i < parameterKey.length ; i++){
          if($('#'+parameterKey[i]).attr('type') == 'text'){
	          parameterValue += parameterKey[i] + '=' + $('#'+parameterKey[i]).val()+' '
          }else if ($('#'+parameterKey[i]).attr('type') == 'radio' || $('#'+parameterKey[i]).attr('type') == 'checkbox'){
	
	          var checkLists = []

	          parameterValue += parameterKey[i] + '='
	          $('input[name="'+parameterKey[i]+'/"]:checked').each(function(j){
		         checkLists.push($(this).val())
	          })

	          for(var j = 0 ; j < checkLists.length ; j++){
  		        parameterValue += checkLists[j] + ' '
	          }
          }
        }
        //console.log(parameterValue)

        //예외처리
        if ($('input:checkbox[id=data_check]').is(':checked') == false){
          alert('please select data file')
        } else if($('input:checkbox[id=data_check]:checked').length > 1){
          alert('please check only one data')
        } else if($('input:checkbox[id=APP_check]:checked').length > 1){
          alert('please check only one Application')
        }else if ($('input:checkbox[id=APP_check]').is(':checked') == false){
          alert('please select Application')
        } else{
          var check = confirm("Do you want running selected app?")
          if(check){
            $.ajax({
            url: 'api/v2/'+$('input:checkbox[id=APP_check]:checked').val().split('.')[0],
            method: 'post',
            data: {
				    	'app_name' : $('input:checkbox[id=APP_check]:checked').val(),
				    	'file' : $('input:checkbox[id=data_check]:checked').val(),
				    	'parameter' : parameterValue,
              'callback_method': $(".btn-group > button.active").val(),
					    'callback_addr' : $('#user').val()
				    },
            dataType: 'json',
            success: function(result) {
              if(result){
                $('.result').html(result.result);
              }
            }
            })
            location.replace("app_status")
          }
          }
        })

      $(document).ready(function(){
        listRef();
      })

      $('#select_APP').click(function(){
        buttonDisable()
      })

      $('#delApp').click(function(){
            var check = confirm("Do you want delete checked app?")
            
            if(check) {
              for(var i = 0 ; i < $('input:checkbox[id=APP_check]:checked').length ; i++){
                
                var selectedApp = $('input:checkbox[id=APP_check]:checked')[i].value
                $.ajax({
                    url: "/admin/delApp",
                    dataType: "json",
                    method: "get",
                    data : {"id" : selectedApp},
                    success: function(result) {
                        if(!result.result) {
                            alert("failed metadata delete ")
                        } else {
                          listRef()
                          buttonDisable()
                        }
                    }, 
                    error : function(error) {
                        console.log(error)
                    }
                })
              }            
            }
        })

        $('#addAppBtn').click(function() {

          info = JSON.parse($('#metaText').html())

          var appValue = $('#appFile').val().split("\\");
          info.appName = appValue[appValue.length-1];
          var jsonValue = $('#metaFile').val().split("\\")
          if (appValue[appValue.length-1].split(".")[0] == jsonValue[jsonValue.length-1].split(".")[0]) {
              //app data
              var form = $('#fileForm')[0];
              var formData = new FormData(form);
            
              formData.append("metaFile",$('#metaFile'))
              //save : app(.py..) + parameterFile(.json..) in mongodb 
              $.ajax({
                  url: '/admin/saveApp',
                  data: formData,
                  method: 'POST',
                  processData: false,
                  contentType: false,
                  success: function (result) {
                      if(result.status) {
                          alert("App 업로드에 성공하였습니다.")
                      } else {
                          alert(result.result)
                      }
                      listRef()
                  },
                  error: function (err) {
                      console.log(err);
                  }
                });       
              } else {
                  alert("please same file name")
              }
        })
        var info ={
            "appName": "",
            "description": "",
            "author": {
                "name" : "",
                "email" : ""
            },
            "parameters": [],
            "version" :  "",
            "type" : ""
        }

        function readTextFile(file, callback) {
            var rawFile = new XMLHttpRequest();
                    rawFile.overrideMimeType("application/json;charset=euc-kr");
                    rawFile.open("GET", file, true);
                    rawFile.onreadystatechange = function() {
                    if (rawFile.readyState === 4 && rawFile.status == "200") {
                        callback(rawFile.responseText);
                }
            }
            rawFile.send(null);
        }

        $('#appFile').change(function() {
            document.getElementById("appFileName").innerHTML = appFile.files[0].name
        })

        
        $('#metaFile').change(function(e) {

            document.getElementById("metaFileName").innerHTML = metaFile.files[0].name

            const files = e.target.files;
            // console.log(files)
            if(files && files.length > 0) {
                const targetFile = files[0]
                try {
                    const path = window.URL.createObjectURL(targetFile)
                    readTextFile(path, function(text){
                        $('#metaText').html(text)
                    })
                    $.getJSON(path, function(data) {
                        info.appName = data.appName
                        info.description = data.description
                        info.author.name = data.author.name
                        info.author.email = data.author.email
                        info.version = data.version
                        info.type = data.type
                        
                        var inputParameters = []

                        try {
                        if (data.parameters.length > 0) {
                            for (var i in data.parameters) {
                                inputParameters.push(data.parameters[i])
                            }
                        }
                    } catch (e) {
                        console.log(e)
                        }
                        info.parameters = inputParameters
                    })
                }
                catch(ex) {
                    console.log(ex)
                    try {
                        const fileReader = new FileReader();
                        fileReader.onload = (event) =>  {
                            console.log("fileReader " + event.target.result)
                        }
                        fileReader.readAsDataURL(targetFile)
                    }
                    catch (e) {
                        console.log("file upload not supported : ")
                    }
                }
            }
        })
    </script>

</body></html>
