<html lang="en"><head>
    <% include ../partial/head %>

  <body id="page-top">
      <% include ../partial/toolbar %>

    <div id="wrapper">

        <% include ../partial/sidebar %>

      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Data</a>
            </li>
            <li class="breadcrumb-item active">List</li>
          </ol>
          <!-- Icon Cards-->
          <div class="card mb-3">
            <div class="card-body">
              <!--working space-->

              <h2><ion-icon name="document"></ion-icon> Data List</h2>
              <!-- icon link: https://ionicons.com/ -->
              <p class="lead">You can check a list of data, <kbd>Upload</kbd> it, or <kbd>Delete</kbd> it.</p>
              <table class="table table-hover"> <!-- .table thead th -->
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Data name</th>
                    <th scope="col">File Size</th>
                    <th scope="col">Description</th>
                    <th scope="col">Uploader</th>
                  </tr>
                </thead>
                <tbody id='select_data'>
                </tbody>
              </table>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <form id='fileForm' method='post' enctype='multipart/form-data' action=''>
                    <input type="file" class="custom-file-input" id="fileInput" name="fileInput" accept=".txt, .log">
                    <label class="custom-file-label" for="fileInput">Choose a file</label>
                  </form>
                </div>
              </div>
              <div class="alert alert-secondary" role="alert" id="data_description" style="display: none">
                  <h5 id="decription_title"><ion-icon name="create"></ion-icon>Data description</h5>
                <hr class="my-2">
                <div class="form-group">
                  <textarea class="form-control" id="description" rows="3" placeholder="please input description of upload data"></textarea>
                </div>
              </div>
              <button type="button" class="sparkRun btn btn-success" id="data_upload" disabled><b><ion-icon name="save"></ion-icon> DATA FILE UPLOAD</b></button>
              <button type="button" class="sparkRun btn btn-Dark" id="delete" disabled><b><ion-icon name="close-circle"></ion-icon> DATA FILE DELETE</b></button>

        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <!-- <script src="js/demo/chart-area-demo.js"></script> -->

    <script>

    //Run when page starts
    $(document).ready(function(){
      listRef()
    });
    //list refresh function
    function listRef() {
        $.ajax({
          url: '/client/makeList',
          method: 'post',
          success: function(result) {
            if(result){
              $('#select_data').empty();
	            for(var i=0 ; i<result.datalist.length ; i++){
                $('#select_data').append(
                '<tr id="'+result.datalist[i].dataName+'"><th scope="row"><div class="checkbox"><label style="font-size: 1em"><input type="checkbox" value="'+result.datalist[i].dataName+'" id="data_check"><span class="cr"><i class="cr-icon fa fa-check"></i></span></label></div></th><td>'+result.datalist[i].dataName+'</td><td>'+result.datalist[i].size+'</td><td>'+result.datalist[i].description+'</td><td>'+result.datalist[i].Uploader+'</td></tr></tr>'
                );
                // '<tr>
                //           <th scope="row">
                            
                //             <div class="checkbox">
                //               <label style="font-size: 1em">
                //                   <input type="checkbox" value="'+result.datalist[i]dataName+'" id="data_check">
                //                   <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                //               </label>
                //             </div>
                            
                //           </th>
                //           <td>'+result.datalist[i].dataName+'</td>
                //           <td>'+result.datalist[i].size+'</td>
                //           <td>'+result.datalist[i].description+'</td>
                //           <td>'+result.datalist[i].Uploader+'</td>
                //         </tr>
                // </tr>'
              }
	          }
	        }
        })
      }

    function buttondDisabled(){
      if($('input:checkbox[id=data_check]:checked').length > 0){
        document.getElementById('delete').disabled = false
      } else{
        document.getElementById('delete').disabled = true
      }
    }

    $('#select_data').click(function(){
      buttondDisabled()
    })


    $('#fileForm').change(function(){
      document.getElementById('data_upload').disabled = false
      document.getElementById("decription_title").innerHTML = fileInput.files[0].name + "'s decription"
      document.all.data_description.style.display=""
    })

    //upload button function
    $('#data_upload').click(function(){
	    var form = $('#fileForm')[0]
      var formData = new FormData(form)
      var fileSize = fileInput.files[0].size

      console.log(fileSize)

      //add file data to form
      formData.append("description",$('#description').val())
      formData.append("fileSize",fileSize)

      const check = confirm("Do you want upload "+fileInput.files[0].name+"?")
      

	    if($('#fileInput').val() == ""){
          alert('please select upload file')
      }else{
        if(check){
          $.ajax({
  	        url:'/client/dataUpload',
	          processData: false,
            contentType: false,
            data : formData,
	          type: 'POST',
	          success: function(result){
              if(result){
                listRef()
                buttondDisabled()
              }
	          }
          })
        }
	    }
    })
    //delete button function
    $('#delete').click( function() {
      const check = confirm("Do you want delete checked data?")
      if(check){
        if ($('input:checkbox[id=data_check]').is(':checked') == false){
          alert('please select data file')
        }else{
          for(let i = 0 ; $('input:checkbox[id=data_check]:checked').length > 0 ; i++){
            $.ajax({
              url: '/client/dataDelete',
              method: 'post',
              data: {
                'data' : $('input:checkbox[id=data_check]:checked')[i].value
      	      },
              dataType: 'json',
              success: function(result) {
                if(!result.result){
                  alert('delete failed')
                }else{
                  listRef()
                  buttondDisabled()
                }
              }
            })
          }
        }
      }
      
		})
    </script>
</body>
</html>
