<html lang="en"><head>
    <% include ../partial/head %>

  <body id="page-top">
      <% include ../partial/toolbar %>

    <div id="wrapper">

        <% include ../partial/sidebar %>

      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Data</a>
            </li>
            <li class="breadcrumb-item active">List</li>
          </ol>
          <!-- Icon Cards-->
          <div class="card mb-3">
            <div class="card-header">
              <!--working space-->



asdasdasdsdasd


              <h2><ion-icon name="document"></ion-icon> Data List</h2>
              <!-- icon link: https://ionicons.com/ -->
              <p class="lead">You can check a list of data, upload it, and delete it.</p>
              <table class="table table-hover"> <!-- .table thead th -->
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Data name</th>
                    <th scope="col">File Size</th>
                    <th scope="col">Description</th>
                    <th scope="col">Uploader</th>
                  </tr>
                </thead>
                <tbody id='select_data'>
                </tbody>
              </table>

              <div class="alert alert-secondary" role="alert">
                  <h5><ion-icon name="add-circle"></ion-icon> App detail</h5>
                <hr class="my-2">
                <form id='parameter_blank'></form>
              </div>


                
                <br><br>









              <select name='textfile' size='6' id='select_data' >
              </select>
              <br>
              <br>
              <!--upload data file-->
              <p>upload data file</p>
              <form id='fileForm' method='post' enctype='multipart/form-data' action='/upload'>
                <input type='file' id='fileInput' name='fileInput' accept=".txt, .log" size="500MB">
              </form>
              <textarea id="description" rows="3" cols="60" style="resize: none" placeholder="please input description of upload data"></textarea>
              <br>
              <!--upload data file-->
              <button class='data_upload'>DATA FILE UPLOAD</button>
              <!--delete data file-->
              <button class='delete'>DATA FILE DELETE</button>


            </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- icon -->
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <!-- <script src="js/demo/chart-area-demo.js"></script> -->

    <script>

    //Run when page starts
    $(document).ready(function(){
      listRef()
    });
    //list refresh function
    function listRef() {
        $.ajax({
          url: '/client/makeList',
          method: 'post',
          success: function(result) {
            if(result){
              $('#select_data').empty();
	            for(var i=0 ; i<result.datalist.length ; i++){
                $('#select_data').append('<option value='+result.datalist[i].dataName+'>'+result.datalist[i].dataName+'</option>');
	            }
	          }
	        }
        })
      }
    //upload button function
    $('.data_upload').click(function(){
	    var form = $('#fileForm')[0]
      var formData = new FormData(form)
      var fileSize = fileInput.files[0].size

      //add file data to form
      formData.append("description",$('#description').val())
      formData.append("fileSize",fileSize)

	    if($('#fileInput').val() == ""){
          alert('please select upload file')
      }else{
    	  $.ajax({
  	      url:'/client/dataUpload',
	        processData: false,
          contentType: false,
          data : formData,
	        type: 'POST',
	        success: function(result){
            if(result){
              listRef()
            }
	        }
        })
	    }
    })
    //delete button function
    $('.delete').click( function() {
      if($('#select_data option:selected').val() == null){
          alert('please select data file')
      }else{
      $.ajax({
        url: '/client/dataDelete',
        method: 'post',
        data: {
	        'data' : $('#select_data option:selected').val()
      	},
        dataType: 'json',
        success: function(result) {
          if(result){
      	    listRef()
          }
        }
      })
      }
		})

    //
    
    </script>
</body>
</html>
