<html lang="en-us">
	<% include ../partial/head %>
	<head>
		<!-- Load css styles -->
		<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/style.css">
	</head>
	<body>
		<% include ./Login %>
		<% include ./Register %>
		<script type="text/javascript" src="js/intro.js" defer></script>
	<div class="jumbotron" id="home" style="height: 100%;margin-bottom: 0px;">
		<div class="mask"></div>
		<div class="container">
			<div class="header-info">
				<img src="bootstrap/dist/img/logo.png" width="35%" class="mb-4">
				<h4 class="mb-4 lead main_text">Big Data App Container Service<br>Intelligence <strong>OpenAPI</strong></h4>
				<button href="" class="btn btn-info mb-4 btn_main" data-toggle="modal" data-target="#modalLoginForm">Sign in</button> &nbsp;&nbsp;&nbsp;&nbsp;
				<button href="" class="btn btn-outline-light mb-4 btn_main" data-toggle="modal" data-target="#modalRegisterForm">register</button>
				<br><a href="#team" class="btn btn-dark mb-4 btn_main">what is otter?</a>
			</div>
		</div>
	</div>
	<section id="team" class="pb-5" id="otter">
  <div class="container">
    <h5 class="section-title h1" >What is <img style="padding-bottom:9px" src="bootstrap/dist/img/sample/otter_sample.png">?</h5>
      <pre>
      Otter는 Big Data App Container 구조로 데이터 분석이 가능한 Intelligence API를 제공합니다. 
      기존 빅데이터 분석 시스템은 빅데이터 분석 코드를 작성하거나 SQL-Like 쿼리를 사용해야 합니다.
      그러나 Otter는 미리 개발된 Big Data App을 이용하여 다양한 분석을 할 수 있습니다. 
      데이터 분석가는 편리한 UX를 통해서 분석이 가능하며, REST 기반 API 호출을 통해서도 사용이 가능합니다.
      Container 구조이므로 재사용성이 우수하며, 프로그래밍 언어가 제공할 수 있는 모든 수준의 분석이 가능합니다. 
      </pre><br>
      <h4>1. 대시보드를 이용한 Big Data App 실행</h4>
      <pre>
      - 대시보드를 이용하여, 미리 개발된 Big Data App을 선택해서, 분석할 수 있습니다.  
      </pre>
      <p class="text-center"><img src="bootstrap/dist/img/about_1.png" width="90%" ></p><br><br>
      <h4>2. API 호출을 통한 Big Data App 실행</h4>
      <pre>
      - REST 기반 API 호출을 통해서 Big Data App을 원격에서 실행이 가능하며, 다양한 프로그래밍 언어에서 접근이 가능하도록 Code Stub이 제공됩니다. 
      </pre>
      <p class="text-center"><img src="bootstrap/dist/img/about_2.png" width="90%" ></p>
	</section>
		<!-- Team -->
		<div class="container">
      <div class="row">
        <div class="span6 offset3" style="height:100px;">
          <p style="padding-top:40px" class="text-center"></p>
        </div>
      </div>
  </div>
  </body>
</html>
