<html lang="en-us">
	<% include ../partial/head %>
	<head>
		<!-- Load css styles -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
<body>
		<% include ./login %>
		<% include ./register %>
	<div class="jumbotron" id="home" style="height: 100%;margin-bottom: 0px;">
		<div class="mask"></div>
		
		<div class="container">
			<div class="header-info">
				<img src="img/logo.png" width="35%" class="mb-4">
				<h4 class="mb-4 lead main_text">Big Data App Container Service<br>Intelligence <strong>OpenAPI</strong></h4>
				<button href="" class="btn btn-info mb-4 btn_main" data-toggle="modal" data-target="#modalLoginForm">Sign in</button> &nbsp;&nbsp;&nbsp;&nbsp;
				<button href="" class="btn btn-outline-light mb-4 btn_main" data-toggle="modal" data-target="#modalRegisterForm">register</button>
				<br><a href="#team" class="btn btn-dark mb-4 btn_main">what is otter?</a>
				
			</div>
		</div>
	</div>

	<!-- -->

	<section id="team" class="pb-5" id="otter">
			<div class="container">
				<h5 class="section-title h1" >What is <img style="padding-bottom:9px" src="img/sample/otter_sample.png">?</h5>
				<div class="row">
					<!-- Team member -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img class=" img-fluid" src="img/sample/sample_1.png" alt="card image"></p>
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.</p>
											<a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body text-center mt-4">
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member -->
					<!-- Team member -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img class=" img-fluid" src="img/sample/sample_2.png" alt="card image"></p>
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.</p>
											<a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body text-center mt-4">
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member -->
					<!-- Team member -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img class=" img-fluid" src="img/sample/sample_3.png" alt="card image"></p>
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.</p>
											<a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body text-center mt-4">
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member -->
										<!-- Team member -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img class=" img-fluid" src="img/sample/sample_1.png" alt="card image"></p>
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.</p>
											<a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body text-center mt-4">
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member -->
					<!-- Team member -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img class=" img-fluid" src="img/sample/sample_2.png" alt="card image"></p>
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.</p>
											<a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body text-center mt-4">
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member -->
					<!-- Team member -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img class=" img-fluid" src="img/sample/sample_3.png" alt="card image"></p>
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.</p>
											<a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>
										</div>
									</div>
								</div>
								<div class="backside">
									<div class="card">
										<div class="card-body text-center mt-4">
											<h4 class="card-title">Sunlimetech</h4>
											<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./Team member -->
					<!-- ./Team member -->
				</div>
			</div>
		</section>
		<!-- Team -->

		<div class="container">
				<div class="row">
					<div class="span6 offset3" style="height:100px;">
						<p style="padding-top:40px" class="text-center"></p>
					</div>
				</div>
			</div>
			<!-- ./container -->
		<script>
			$(function() {
			$('a[href*="#"]:not([href="#"])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				if (target.length) {
					$('html, body').animate({
					scrollTop: target.offset().top
					}, 1000);
					return false;
				}
				}
			});
			});
		</script>
</body></html>
