<!DOCTYPE html>
<html lang="en">
    <% include ../partial/head %>
  <body class="bg-dark">


<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="firstName" class="form-control validate" placeholder="First name" autofocus="autofocus">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Your First name</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="text" id="lastName" class="form-control validate" placeholder="Last name">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your last name</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="email" id="inputEmail" class="form-control validate" placeholder="Email address">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your email</label>
                </div>
                
                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="inputPassword" class="form-control validate" placeholder="Password">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>
            </div>

            <div id="roleRadio">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="userRadio" name="roleRadio" checked value=1>
                  <label class="custom-control-label" for="userRadio">User</label>
                </div>
                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="developerRadio" name="roleRadio" value=2>
                  <label class="custom-control-label" for="developerRadio">Developer</label>
                </div>
                <!-- Default inline 3-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="managerRadio" name="roleRadio" value=3>
                  <label class="custom-control-label" for="managerRadio">Manager</label>
                </div>
              </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="registerBtn" class="btn btn-default">Register</button>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script>
      $('#registerBtn').click(function(){
            inputUser = {
                email : $('#inputEmail').val(),
                password : $('#inputPassword').val(),
                firstName : $('#firstName').val(),
                lastName : $('#lastName').val(),
                role : $('input[name="roleRadio"]:checked').val()
            }
            
            $.ajax({
                url:'/register',
                method :'post',
                dataType:'json',
                data: inputUser,
                success: function(result) {
                    alert("success!")
                    location.href = "/"
                },
                error : function(error) {
                    alert("failed regist")
                    location.reload()
                }
            })
        })
    </script>
  </body>

</html>
