<html lang="en">
    <% include ../partial/head %>
  <body id="page-top">
      <% include ../partial/toolbar %>
    <div id="wrapper">
        <% include ../partial/sidebar %>

      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Spark</a>
            </li>
            <li class="breadcrumb-item active">Yarn</li>
          </ol>
          <!-- Icon Cards-->
          <div class="card mb-3">
            <!-- yarn state-->
            <div class="card-header">
              <i class="fas fa-table"></i>Yarn Status</div>
            <div class="card-body">
              <div class="table-responsive" style="overflow-x:  hidden;">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12">
                      <iframe src="http://192.168.2.10:7180/cmf/services/15/status" style=" width:  100%; height:  100%;"scrolling="auto" frameborder="0">
                      </iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
  
    <script>
    $('#logoutBtn').click(function(){
        $.ajax({
				url: '/logout',
				type: 'GET',
				success:function(result) {
          alert("success")
          location.href = "/"
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
			  })
      })</script>






</body></html>
